CT_CONFIG_VERSION="3"
# CT_REMOVE_DOCS is not set
# CT_INSTALL_LICENSES is not set
# CT_LOG_TO_FILE is not set
CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-m4"
CT_ARCH_ARM_MODE_THUMB=y
CT_ARCH_FPU="fpv4-sp-d16"
CT_ARCH_FLOAT_HW=y
CT_TARGET_VENDOR="stm32f4"
CT_LIBC_NEWLIB_IO_C99FMT=y
CT_LIBC_NEWLIB_IO_LL=y
CT_LIBC_NEWLIB_IO_FLOAT=y
CT_LIBC_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
# CT_CC_GCC_STATIC_LIBSTDCXX is not set
